:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000000;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #dc2626;
  text-decoration: inherit;
}
a:hover {
  color: #991b1b;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 2px solid #000000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dc2626;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #991b1b;
}
button:focus,
button:focus-visible {
  outline: 4px auto #dc2626;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #000000;
  }
  a:hover {
    color: #991b1b;
  }
  button {
    background-color: #dc2626;
    color: #ffffff;
  }
}
